---
import Layout from "../layouts/Layout.astro";
import Profile from "~/Profile";
import Note from "~/Note.astro";
---

<Layout>
  <main>
    <hgroup>
      <h1>Punishing: Gray Raven Original Character Generator</h1>
      <h2>... Or PGR OC Generator for short</h2>
      <h3>AKA, PGROCG</h3>
    </hgroup>

    <blockquote>
      <p>This is a character generator for creating original characters in the post-apocalyptic, science fiction setting of Punishing: Gray Raven.</p>
      <p>Punishing: Gray Raven (or PGR for short) is a free-to-play action role-playing game with gacha mechanics by KURO GAMES, available on mobile and PC.</p>
    </blockquote>

    <Note title="Disclaimer">
      <p>This generator doesn't strictly follow canon, but feel free to edit and adapt the results for your own use!</p>
    </Note>
  
    <Profile client:load>
      <Note title="Need a name?">
        <p>Generate one <a href="https://www.behindthename.com/random/" target="_blank" rel="noopener noreferrer">here</a></p>
        <p>For constructs figuring out frame names, <a href="https://phrontistery.info/index.html" target="_blank" rel="noopener noreferrer">try a random word from this obscure dictionary.</a></p>
      </Note>
    </Profile>
    <noscript>
      <Note title="Why am I seeing this?">
        <p>It looks like you might have JavaScript turned off.</p>
        <p>This website uses JavaScript to randomly generate a character for you.</p>
        <p><a href="https://www.wikihow.com/Enable-JavaScript" target="_blank" rel="noopener noreferrer">Turn on JavaScript</a> or check to see if there are any browser extensions that might be problematic.</p>
      </Note>
    </noscript>
  </main>
</Layout>

<style>
  main {
    max-width: 80ch;
    margin: 0 auto;

    @media screen and (width < 80ch) {
      max-width: 100%;
      margin: 0 1em;
    }
  }

  hgroup {
    display: grid;
    gap: 0.5em;
    text-align: center;
  }

  h1, h2, h3 {
    text-wrap: balance;
  }

  blockquote {
    display: grid;
    row-gap: 0.5em;
    background-color: color(from var(--black) srgb r g b / 0.8);
    color: var(--white);
    padding: 0.75em 1em;
    margin: 1em 0;
  }
</style>