---
import Layout from "../layouts/Layout.astro";
import Profile from "~/Profile";
---

<Layout>
  <h1>Punishing: Gray Raven Original Character Generator</h1>
  <h2>... Or PGR OC Generator for short</h2>
  <h3>AKA, PGROCG</h3>

  <div role="note">
    <h1>Disclaimer</h1>
    <p>This generator doesn't strictly follow canon, but feel free to edit and adapt the results for your own use!</p>
  </div>
 
  <Profile client:load />
</Layout>