---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Punishing: Gray Raven Original Character Generator</h1>
  <h2>... Or PGR OC Generator for short</h2>
  <h3>AKA, PGROCG</h3>
  
  <button id="random">Randomize!</button>
</Layout>

<script>
  import { randomFlip } from "@/functions";
  import { Construct, Commandant } from "@/types";
  
  const button = document.getElementById("random");
  button?.addEventListener("click", (_) => {
    let character;
    if (randomFlip()) {
      character = new Commandant();
    } else {
      character = new Construct();
    }
    console.log(character);
  });
</script>