---
import "$/styles/base.css";

interface Props {
  title?: string;
}

const { title = "PGR OC Generator" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header>
		<a id="source-code" href="https://github.com/haetae-bit/pgr-oc-gen" target="_blank" rel="noopener noreferrer">Source code</a>
	</header>
	<body>
		<slot />
	</body>
</html>

<style>
	#source-code {
		position: absolute;
		top: 1em;
		right: 1em;
		font-weight: bold;
		letter-spacing: 0.025em;
	}
</style>